

<ion-view title="Agenda">
        <ion-content class="has-header has-footer padding">
         <h1 ><i class="icon ion-calendar"></i> Agenda</h1 >
        
          <h5>Ne louper aucun evenements, aucun rendez-vous ! </h5>
          
          <div class="list">
          <div class="item item-divider">
            Septembre
          </div>
          <div class="item item-divider">
            Octobre
          </div>
          <div class="item item-divider">
            Novembre
          </div>
          <div class="item item-divider">
            Decembre
          </div>
          <a class="item" ng-click="openModal('opening')">
            Ouverture station
            <span class="item-note">
              13 decembre 2014
            </span>
          </a>
          <a class="item" ng-click="openModal('noel')">
            Animation Noel
            <span class="item-note">
              24 decembre 2014
            </span>
          </a>
          <div class="item item-divider">
            Janvier
          </div>
          <div class="item item-divider">
            Fevrier
          </div>
          <div class="item item-divider">
            Mars
          </div>
          <div class="item item-divider">
            Avril
          </div>
          <a class="item" ng-click="openModal('closing')">
            Fermeture station
            <span class="item-note">
              12 avril 2015
            </span>
          </a>
          <div class="item item-divider">
            Mai
          </div>
          <div class="item item-divider">
            Juin
          </div>
          <div class="item item-divider">
            Juillet
          </div>
          <div class="item item-divider">
            Aout
          </div>
          
          
          
        </ion-content>
      </ion-view>