

<ion-view title="Agenda">
        <ion-content has-header="true" padding="true">
         <h1 ><i class="icon ion-beer"></i> Commerces</h1 >
        
          <h5>Réservez, commandez, cliquez... </h5>
          
          <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
             <a> <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios7-circle-filled' : 'ion-ios7-circle-outline'"></i>
            &nbsp;
            {{group.name}}</a>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-click="clickItem($index)"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>
          
          
          
          
        </ion-content>
      </ion-view>