<ion-view title="Accueil">

  <ion-content  has-header="true" padding="true">
  
  
    
    <div class="list">



  <a class="item item-icon-left" href="#/menu/secours">
    <i class="icon ion-medkit"></i>
    Secours
  </a>

  <a class="item item-icon-left" href="#/menu/plan">
    <i class="icon ion-map"></i>
    Plan des pistes
  </a>
  
  <a class="item item-icon-left" href="#/menu/meteo">
    <i class="icon ion-ios7-cloud"></i>
    Meteo
  </a>
  
  <a class="item item-icon-left" href="#/menu/horaires">
    <i class="icon ion-ios7-clock"></i>
    Horaires navette
  </a>
  
  <a class="item item-icon-left" href="#/menu/agenda">
    <i class="icon ion-calendar"></i>
    Agenda
  </a>
  
  <a class="item item-icon-left" href="#/menu/itineraires">
    <i class="icon ion-compose"></i>
    Votre itineraire
  </a>
  
  <a class="item item-icon-left" href="#/menu/services">
    <i class="icon ion-happy"></i>
    Services
  </a>
  
  </div>
  
  
    
    
  </ion-content>
  
  </ion-view>