

<ion-view title="Horaires">
        <ion-content has-header="true" padding="true">
        
        <h3 ><i class="icon ion-ios7-clock"></i> Horaires navette</h3 >
        
          <h5>Periodes : 13 Décembre 2014 au 12 Avril 2015 </h5>
          
          <div class="list">
          
          <div class="item item-divider">
            MATIN
          </div>
          
          <a class="item">
            Départ CHEF LIEU
            <span class="item-note">
              8 h 30
            </span>
          </a>
          
          <a class="item">
            Départ STATION
            <span class="item-note">
              8 h 50
            </span>
          </a>
          
          <a class="item">
            Départ MIROIR
            <span class="item-note">
              09 h 15
            </span>
          </a>
          
          <a class="item">
            Départ CHEF LIEU
            <span class="item-note">
              09 h 30
            </span>
          </a>
          
          <a class="item">
            Départ STATION
            <span class="item-note">
              10 h 00
            </span>
          </a>
          
          <a class="item">
            Départ CHEF LIEU
            <span class="item-note">
              10 h 20
            </span>
          </a>
          
          <a class="item">
            Départ STATION
            <span class="item-note">
              10 h 50
            </span>
          </a>
          
          <a class="item">
            Départ MIROIR
            <span class="item-note">
              11 h 10
            </span>
          </a>
          
          <div class="item item-divider">
            APRES-MIDI
          </div>
          
          <a class="item">
            Départ STATION
            <span class="item-note">
              12 h 30
            </span>
          </a>
          
          <a class="item">
            Départ MIROIR
            <span class="item-note">
              12 h 50
            </span>
          </a>
          
          <a class="item">
            Départ CHEF LIEU
            <span class="item-note">
              13 h 00
            </span>
          </a>
          
          </div>
        </ion-content>
      </ion-view>