

<ion-view title="Meteo">
        <ion-content class="has-header has-footer padding">
          <h1 ><i class="icon ion-ios7-cloud"></i> Météo</h1 >
        
        
          <h5>Voici le dernier bulletin météo :  </br>- lieu : Sainte Foy Tarentaise</h5>
          
          <div class="card">
          <div class="item item-divider">
            Édition: 6.12.2013, 17:00 / Prochaine mise à jour: 7.12.2013, 17:00
          </div>
          <div class="item item-text-wrap">
           <a>- Neige récemment soufflée constituant le danger principal.
            Des accumulations récentes de neige soufflée sont
              fragiles. Des avalanches peuvent être déclenchées
              par un seul amateur de sports d'hiver. Elles peuvent
              se rompre jusque dans les couches profondes par
              endroits et atteindre une taille moyenne. Les endroits
              dangereux sont en partie couverts de neige fraîche,. Les
              randonnées et descentes hors-piste demandent une
              expérience dans l'évaluation du danger d'avalanche.</a>
          </div>
        </div>
        </ion-content>
      </ion-view>