

<ion-view title="Plan des pistes">
        <ion-content class="has-header has-footer padding" >
          <h1 ><i class="icon ion-map"></i> Plan des pistes</h1 >
          <h5>Zoomer, bouger la carte.</h5>
          <!--<div style="background: url('img/plan.jpg') repeat"></div>-->
           <!--<div style=" background: url('img/plan.jpg') repeat; max-width: 100%; height: auto "></div>
           <img src="img/plan.jpg" style=" max-height: 80%; width: auto ; background: url('img/plan.jpg') repeat;"></img>-->
           
      <!--    <ion-scroll zooming="true" direction="xy" style="height: 100vh; width: auto;">-->
      <!--  <div style="width: 2500px; height: 849px; background: url('img/plan.jpg') repeat"></div>-->
      <!--</ion-scroll>-->
      
      <ion-scroll zooming="true" direction="xy" style=" height: 75vh; width: auto;">
        <div style="width: 2500px; height: 849px; background: url('img/plan.jpg') repeat"></div>
      </ion-scroll>
      
      
      
        </ion-content>
      </ion-view>
