

<ion-view title="Secours">

        <ion-content  class="has-header has-footer padding">
        <!--<div class="row" style="text-align:center;"><h3><i class="icon ion-medkit"></i></h3><h3> Postes de Secours</h3></div>-->
        
        <h1 ><i class="icon ion-medkit"></i> Postes de secours</h1 >
        
        
          <h5>Nous disposons de deux postes de secours : </br>- Sommet du télésiege de la Marquises.</br>- Sommet du télésiege de l'Aiguille</h5>
          
          <div class="card">
          <div class="item item-divider">
            Téléphone postes de secours
          </div>
          <div class="item item-text-wrap item-button-right">
            +33 (04) 79 06 95 15
            <a href="tel:04 79 06 95 15" class="button button-assertive">
              <i class="icon ion-ios7-telephone"></i>
            </a>
          </div>
        </div>
        
        <div class="card">
          <div class="item item-divider">
            Gendarmerie
          </div>
          <div class="item item-text-wrap item-button-right">
            17 ou +33 (0)4 79 07 04 25
            <a href="tel:04 79 07 04 25" class="button button-assertive">
              <i class="icon ion-ios7-telephone"></i>
            </a>
          </div>
        </div>
        
        <div class="card">
          <div class="item item-divider">
            Vos coordonnées GPS (degrés décimaux)
          </div>
          <div class="list">
          <a class="item">
            Latitude
            <span class="item-note">
              48.8489692
            </span>
          </a>
          <a class="item">
            Longitude
            <span class="item-note">
              2.3571603000000323
            </span>
          </a>
          </div>
        </div>
          
          
        </ion-content>
      </ion-view>