

<ion-view title="Secours">

        <ion-content has-header="true" padding="true" has-footer="true">
        <!--<div class="row" style="text-align:center;"><h3><i class="icon ion-medkit"></i></h3><h3> Postes de Secours</h3></div>-->
        
        <h3 ><i class="icon ion-medkit"></i> Postes de secours</h3 >
        
        
          <h5>Nous disposons de deux postes de secours : </br>- Sommet du télésiege de la Marquises.</br>- Sommet du télésiege de l'Aiguille</h5>
          
          <div class="card">
          <div class="item item-divider">
            Téléphone postes de secours
          </div>
          <div class="item item-text-wrap item-button-right">
            <h4>+33 (04) 79 06 95 15</h4>
            <button class="button button-assertive">
              <i class="icon ion-ios7-telephone"></i>
            </button>
          </div>
        </div>
        
        <div class="card">
          <div class="item item-divider">
            Gendarmerie
          </div>
          <div class="item item-text-wrap item-button-right">
            <h4>17 ou +33 (0)4 79 07 04 25</h4>
            <button class="button button-assertive">
              <i class="icon ion-ios7-telephone"></i>
            </button>
          </div>
        </div>
          
          
        </ion-content>
      </ion-view>